.topText {
  display: flex;
  min-height: 10vh;
  margin: 0 auto;
  align-items: flex-start;
}

.inputDiskNumber, .displayMoves, p {
  margin: 0 35px;
}

 button {
   margin: 10px 35px;
 }

.playingField {
  display: flex;
  min-height: 50vh;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
}

.tower {
  margin: 0 65px;
}

.base, .rod {
  background: #926239;
}

.base {
  width: 100px;
  height: 20px;
}

.rod {
  width: 20px;
  height: 250px;
  margin: 0 auto;
}

.site {
	display: flex;
  flex-direction: column;
	min-height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
}
