.topText, .bottomText {
  display: flex;
  align-items: flex-start;
}

.topText {
  margin: 0 auto;
  min-height: 10vh;
}

.bottomText {
  margin: 80px auto 10px;
  min-height: 15vh;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 5vh;
  margin: auto;
  justify-content: flex-start;
}

.statsInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 50vh;
  margin: 0;
}

.first4StatPs {
  margin: 10px 60px 0 0;
  width: 130px;
}

.theMinMoves {
  margin: 10px auto;
  width: 260px;
}

.bottomContentWrapper {
  margin: auto;
  display: flex;
}

.leaderBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leaderBoard p {
  margin: 10px 60px 0 0;
}

.inputDiskNumber, .displayMoves, .topText p {
  margin: 0 35px;
}

button, .stopWatch {
   margin: 10px 35px;
 }

.playingField {
  display: flex;
  min-height: 50vh;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
}

.tower {
  margin: 0 65px;
}

.base, .rod {
  background: #926239;
}

.base {
  width: 150px;
  height: 20px;
}

.rod {
  width: 20px;
  height: 250px;
  margin: 0 auto;
}

.site {
	display: flex;
  flex-direction: column;
	min-height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
}
